<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Curso de Vue 2">
    <meta name="author" content="https://styde.net">
    <link rel="icon" href="favicon.ico">
    <title>Curso de Vue 2 - Styde.net</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>

<body>
    <div id="app" class="container">
        <!-- todas las tareas -->
        <h4>Todas</h4>

        <ul>
            <li v-for="task in tasks">
                <del v-if="!task.pending">{{task.title}}</del>
                <template v-else>{{task.title}}</template>
            </li>
        </ul>
        
        <h4>Pendientes</h4>
        
        <!-- Solo las pendientes -->
        <ul>
            <li v-for="task in pendingTasks">
                {{task.title}}
            </li>
        </ul>
    
        <h4>Llave valor</h4>
        <!--key value-->
        <ul>
            <li v-for="(task, index) in tasks">
                {{index + 1}}: {{ task.title}}
            </li>
        </ul>
        
        <h4>Sin Lista</h4>
        <!--sin lista-->
        <template v-for="task in tasks">
            <p>{{task}}</p>
            <br>
        </template>
        
        <h4>Iterar numeros</h4>
        
        <ul>
            <li v-for="i in 5">
                {{ i }}
            </li>
        </ul>

        <h4>Iterar Objeto</h4>
        
        <ul>
            <li v-for="(value, key, index) in user">
                {{ index }}) {{ key }}: {{ value }}
            </li>
        </ul>

        <footer class="footer">

            © 2017 Styde.net.

        </footer>
    </div>
    <script src="https://unpkg.com/vue@2.1.8/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                tasks: [
                    {
                        title: 'Texto 1',
                        pending: false,
                    },
                    {
                        title: 'Texto 2',
                        pending: false,
                    },
                    {
                        title: 'Texto 2',
                        pending: true,
                    }
                ],
                user: {
                    name: 'Username',
                    description: 'Lorem',
                    other_key: 'value'
                }
            },
            computed: {
                pendingTasks: function(){
                    return this.tasks.filter(function(item) {
                        return item.pending;
                    })
                }
            }
        });
    </script>
</body>

</html>